<%= render 'layouts/topnav' %>
<span>
	<h2>Welcome to Syn-Quivalents!</h2>

	<p>Syn-Quivalents is a tool designed by and for Chemists who need to keep neat and organized their important Synthesis reactions.</p>

	<p>Syn-Quivalents is being built to address the following issues that Synthesis encounters on a daily basis:</p>

	<ul>
		<li>Track and record experimental data</li>
		<li>Retrieve experimental properties of compounds via CAS numbers</li>
		<li>Automatically calculate masses and volumes of reagents from equivalent values</li>
	</ul>
</span>